<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccnu.scsx.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.ccnu.scsx.model.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="last_modify" jdbcType="TIMESTAMP" property="last_modify" />
    <result column="name" jdbcType="VARBINARY" property="name" />
    <result column="img" jdbcType="VARBINARY" property="img" />
    <result column="description" jdbcType="VARBINARY" property="description" />
    <result column="remark" jdbcType="VARBINARY" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, remark, description , img, price, create_time, last_modify
  </sql>
  <sql id="Blob_Column_List">
    name, img, description, remark
  </sql>
  <!-- myfunction -->
  <select id="queryByPage" resultMap="BaseResultMap">
  	SELECT 
  	<include refid="Base_Column_List"/>
        FROM product
  </select>
  
  <insert id="insert" parameterType="com.ccnu.scsx.model.Product">
  	insert into product 
  	(name,remark,description,img,price,create_time,last_modify)
  	values
  	(#{name},#{remark},#{description},#{img},#{price},#{create_time},#{last_modify})
  </insert>
  
</mapper>