<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="jongo" class="com.ccnu.scsx.dao.JongoFactory">
        <constructor-arg name="host" value="${mongo.host}"/>
        <constructor-arg name="port" value="${mongo.port}"/>
        <constructor-arg name="dbName" value="${mongo.database}"/>
        <constructor-arg name="user" value="${mongo.user}"/>
        <constructor-arg name="pass" value="${mongo.password}"/>
    </bean>

</beans>
